:root {
  --theme-color: #fd9d3e;
}

.first {
  background: var(--bs-dark);
  position: relative;
  min-height: 608px;
}

.first:before {
  content: "";
  position: absolute;
  background-image: url("../../assets/img/chef-bg.png");
  top: 0;
  width: 100%;
  height: 100%;
}

.carousel-item .container .row div .heading, .carousel-item .container .row div P {
  font-family: 'PT Sans Narrow', sans-serif;
}

.deco {
  width: unset;
  position: absolute;
}

@media (max-width: 992px) {
  .carousel-row {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.theme-color {
  color: #fd9d3e;
}

.heading {
  font-weight: bold;
}

.order-bg-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  /*bottom: -80px;*/
}

.order-bg-top {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}

@media (max-width: 1500px) {
  .order-bg-top {
    top: -80px;
  }
}

@media (max-width: 1200px) {
  .order-bg-top {
    top: -70px;
  }
}

@media (max-width: 992px) {
  .order-bg-top {
    top: -55px;
  }
}

@media (max-width: 768px) {
  .order-bg-top {
    top: -41px;
  }
}

@media (max-width: 576px) {
  .order-bg-top {
    top: -35px;
  }
}

@media (max-width: 300px) {
  .order-bg-top {
    top: -20px;
  }
}

.navigation-clean {
  background: transparent;
}

.pizza-1 {
  transform: scale(1.80);
  width: unset;
}

.deco.deco-11 {
  top: 171px;
  left: 41px;
}

.deco.deco-21 {
  bottom: -80px;
  left: -230px;
}

.deco.deco-31 {
  bottom: -80px;
  right: -207px;
}

.deco.deco-41 {
  top: 125px;
  right: -71px;
}

.pizza {
  transform: scale(0.8);
}

.deco.deco-1 {
  top: 0;
  left: 0;
}

.deco.deco-2 {
  bottom: 0;
  left: 0;
}

.deco.deco-3 {
  bottom: 0;
  right: 0;
}

.deco.deco-4 {
  top: 0;
  right: 0;
}

.p-r {
  position: relative;
}

.second {
  background: var(--theme-color);
  padding-top: 95px;
  padding-bottom: 95px;
  position: relative;
}

.fourth {
  background: black;
  padding-top: 0px;
  padding-bottom: 95px;
  position: relative;
}