:root {
  --theme-color: #fd9d3e;
}

.first {
  background: var(--bs-dark);
  position: relative;
  min-height: 608px;
}

.first:before {
  content: "";
  position: absolute;
  background-image: url("../../assets/img/chef-bg.png");
  top: 0;
  width: 100%;
  height: 100%;
}

.carousel-item .container .row div .heading, .carousel-item .container .row div P {
  font-family: 'PT Sans Narrow', sans-serif;
}

.deco {
  width: unset;
  position: absolute;
}

@media (max-width: 992px) {
  .carousel-row {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.theme-color {
  color: #fd9d3e;
}

.heading {
  font-weight: bold;
}

.order-bg-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  /*bottom: -80px;*/
}

.order-bg-top {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}

@media (max-width: 1500px) {
  .order-bg-top {
    top: -80px;
  }
}

@media (max-width: 1200px) {
  .order-bg-top {
    top: -70px;
  }
}

@media (max-width: 992px) {
  .order-bg-top {
    top: -55px;
  }
}

@media (max-width: 768px) {
  .order-bg-top {
    top: -41px;
  }
}

@media (max-width: 576px) {
  .order-bg-top {
    top: -35px;
  }
}

@media (max-width: 300px) {
  .order-bg-top {
    top: -20px;
  }
}

.navigation-clean {
  background: transparent;
}