:root {
  --theme-color: #fd9d3e;
}

.first {
  background: var(--bs-dark);
  position: relative;
  min-height: 608px;
}

.first:before {
  content: "";
  position: absolute;
  background-image: url("../../assets/img/chef-bg.png");
  top: 0;
  width: 100%;
  height: 100%;
}

.carousel-item .container .row div .heading, .carousel-item .container .row div P {
  font-family: 'PT Sans Narrow', sans-serif;
}

.deco {
  width: unset;
  position: absolute;
}

@media (max-width: 992px) {
  .carousel-row {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.theme-color {
  color: #fd9d3e;
}

.heading {
  font-weight: bold;
}

.order-bg-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  /*bottom: -80px;*/
}

.order-bg-top {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}

@media (max-width: 1500px) {
  .order-bg-top {
    top: -80px;
  }
}

@media (max-width: 1200px) {
  .order-bg-top {
    top: -70px;
  }
}

@media (max-width: 992px) {
  .order-bg-top {
    top: -55px;
  }
}

@media (max-width: 768px) {
  .order-bg-top {
    top: -41px;
  }
}

@media (max-width: 576px) {
  .order-bg-top {
    top: -35px;
  }
}

@media (max-width: 300px) {
  .order-bg-top {
    top: -20px;
  }
}

.navigation-clean {
  background: transparent;
}

.pizza-1 {
  transform: scale(1.80);
  width: unset;
}

.deco.deco-11 {
  top: 171px;
  left: 41px;
}

.deco.deco-21 {
  bottom: -80px;
  left: -230px;
}

.deco.deco-31 {
  bottom: -80px;
  right: -207px;
}

.deco.deco-41 {
  top: 125px;
  right: -71px;
}

.pizza {
  transform: scale(0.8);
}

.deco.deco-1 {
  top: 0;
  left: 0;
}

.deco.deco-2 {
  bottom: 0;
  left: 0;
}

.deco.deco-3 {
  bottom: 0;
  right: 0;
}

.deco.deco-4 {
  top: 0;
  right: 0;
}

.p-r {
  position: relative;
}

.second {
  background: var(--theme-color);
  padding-top: 95px;
  padding-bottom: 95px;
  position: relative;
}

.fourth {
  background: black;
  padding-top: 0px;
  padding-bottom: 95px;
  position: relative;
}

@media (max-width: 1500px) {
  .order-bg-bottom {
    bottom: -80px;
  }
}

@media (max-width: 1200px) {
  .order-bg-bottom {
    bottom: -70px;
  }
}

@media (max-width: 992px) {
  .order-bg-bottom {
    bottom: -55px;
  }
}

@media (max-width: 768px) {
  .order-bg-bottom {
    bottom: -41px;
  }
}

@media (max-width: 576px) {
  .order-bg-bottom {
    bottom: -35px;
  }
}

@media (max-width: 300px) {
  .order-bg-bottom {
    bottom: -20px;
  }
}

.cardImg {
  transform: scale(0.7);
}

.second .card {
  background: transparent;
  border-style: none;
}

.third img.rounded-circle:hover {
  transform: scale(1.05);
  transition: all 1000ms ease;
}

.third {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.view {
  background: var(--theme-color);
  padding: 12px 12px;
}

.menu-bg-top, .menu-bg-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}

.nav-link.active {
  border-radius: 30px;
}

.tab-content .card-text {
  color: var(--bs-gray);
}

.tab-content .card-title {
  color: var(--bs-light);
}

.card-link {
  text-decoration: none;
  color: var(--bs-gray-100);
}

.card-link:hover {
  color: var(--theme-color);
}

@media (max-width: 992px) {
  .topping {
    width: 50%;
  }
}

.topping {
  width: 35%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.topping-div {
  margin-bottom: 5rem;
}

a [for="delivery"] {
  color: var(--theme-color);
}

a [for="delivery"]:hover {
  color: black;
  cursor: pointer;
}

.location {
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.hide {
  display: none;
}

#delivery:checked ~ div .hide {
  display: block!important;
}

.carousel-indicators {
  bottom: -40px;
}

.carousel-indicators [data-bs-target] {
  background-color: var(--theme-color)!important;
}

.reviews {
  border: 1px solid white;
  background-color: var(--bs-light);
  width: calc(100% - 195px);
  float: left;
  background: #fff;
  padding: 40px 50px;
  position: relative;
}

.reviews:before {
  content: "";
  left: -19px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17.5px 18px 17.5px 0;
  border-color: transparent red transparent transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 992px) {
  .reviews:before {
    left: 253px;
    top: -16%;
    transform: translateX(-50%) rotate(90deg);
  }
}

@media (max-width: 768px) {
  .reviews:before {
    left: 174px;
    top: -12%;
    transform: translateX(-50%) rotate(90deg);
  }
}

@media (max-width: 576px) {
  .reviews:before {
    left: 154px;
    top: -10%;
    transform: translateX(-50%) rotate(90deg);
  }
}

@media (min-width: 992px) {
  .review-img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.address p {
  margin: 0px;
  color: var(--bs-light);
}

.opening {
  color: var(--bs-light);
}

.closed {
  background: var(--theme-color);
  cursor: default!important;
  padding: 0px 5px;
}

.social i {
  margin: 0px 10px;
}

.social a {
  text-decoration: none;
  color: white;
}

.footer {
  background-color: black;
  padding: 40px 0px;
}

.pt-100 {
  padding-top: 100px;
}

